{% load static %}
<title>Akylly gözegçi - Aýyrmak  {{ obj }}</title>

<style>
    p {
        margin-left: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        font-family: 'Times New Roman', cursive;
        text-align: center;
        font-size: 35px;
        color: #070705;
        display: inline-block;
        border-radius: 15px;
        background-color: #e7dede;
    }
    button:hover {
        background-color: #ff0000;
    {#color: white;#}
    }
    a:hover {
        background-color: #04aa6d; /* Green */

    }
    .btn-btn-primary {
        line-height: 1;
        display: inline-block;
        font-size: 1.2rem;
        text-decoration: none;
        border-radius: 5px;
        color: #070705;
        padding: 8px;
        box-shadow: 0px 1px 2px 0px rgb(4, 170, 109),
        1px 2px 4px 0px rgb(4, 170, 109),
        2px 4px 8px 0px rgb(4, 170, 109),
        2px 4px 16px 0px rgb(4, 170, 109);
        background-color: #e7dede;
    }
    button {
        line-height: 1;
        display: inline-block;
        font-size: 1.2rem;
        text-decoration: none;
        border-radius: 5px;
        color: #070705;
        padding: 8px;
        box-shadow: 0px 1px 2px 0px rgb(255, 0, 0),
        1px 2px 4px 0px rgb(255, 0, 0),
        2px 4px 8px 0px rgb(255, 0, 0),
        2px 4px 16px 0px rgb(255, 0, 0);
        background-color: #e7dede;
    }
    .image{
        background-image: url("{% static 'image/b.jpg' %}");
        background-size: cover;

    }
</style>
{% block content %}
    <body class="image">
    <form method="POST" action="">
        {% csrf_token %}
        <p>"{{obj}}"atly işgäriňiz baradaky maglumaty aýyrmagy tassyklaýaňyzmy?</p>

        <a class="btn-btn-primary" href="{{ request.META.HTTP_REFERER }}">Yzyňa dolan</a>
        <button type="submit"> Aýyrmak</button>

    </form>
    </body>
{% endblock %}